<template>
 <div :style="{ backgroundImage: 'url('+require(`@/static/images/${background}`)+')' }" class="box diet-box">
  <div>
    <p class="diet-title">{{title}}</p>
    <p class="diet-subtitle">{{subtitle}}</p>
  </div>
   <div class="diet-icon">
     <fa :icon="['fas', 'chevron-right']"/>
   </div>
 </div>
</template>

<script>
export default {
name: "cardWithBackground",
  props: {
  title: {
    type:String,
  },
    subtitle: {
    type:String
    },
    background:{
    type:String
    }
  }
}
</script>

<style scoped>
 .diet-box {
   background-size: cover;
   object-position: center center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 210px;
   background-color: transparent !important;
   box-shadow: none;
   border: none;
   background-repeat: no-repeat;
 }

 .diet-title {
   font-size: 18px;
   font-weight: 600;
   line-height: 1;
   color: white;
 }

 .diet-subtitle {
   font-size: 14px;
   font-weight: 300;
   color: white;
 }

 .diet-icon {
   font-size: 20px;
   background-color: #EA9242;
   border-radius: 50px;
   color: white;
   width: 30px;
   text-align: center;
 }
</style>
