<template>
<div class="box exercise-carousel-box">
    <img class="image-exercise-carousel-box" :src="require(`@/static/images/${image}`)"/>
  <div>
    <p class="title-exercise-carousel">
      {{title}}
    </p>
  </div>
</div>
</template>

<script>
export default {
name: "exerciseCard",
props: {
  image: {
    type: String,
  },
  title: {
    type:String,
    required:true
  }
}
}
</script>

<style scoped>
 .exercise-carousel-box {
   display: flex !important;
   background-color: white !important;
   box-shadow: none !important;
   border-color: transparent !important;
   border-radius: 15px;
   height: 65px !important;
   padding: 0 !important;
   margin-bottom: 0 !important;
   align-items: center;
   width: 90% !important;
 }

 .image-exercise-carousel-box {
   align-items: center;
   margin-bottom:0 !important;
   background-color: #f9f9f9;
   box-shadow: none;
   border-radius: 10px;
   max-width: 50px;
   padding: 0 !important;
   margin-left: 15px;
 }

 .title-exercise-carousel {
   font-size: 14px;
   font-weight: 600;
   margin-left: 5px;
   padding-right: 30px;
 }
</style>
