<template>
 <div class="main-content-wrapper">
   <div class="is-flex is-justify-content-space-between is-align-items-center">
     <div>
       <p class="strong-text" style="line-height: 1">Home</p>
       <p class="gray-text">Lunedi 8 Aprile, 2021</p>
     </div>
     <div class="is-flex">
       <div class="mr-5">
         <fa :icon="['fas','envelope']" style="font-size: 20px" />
       </div>
       <div>
         <fa :icon="['fas','bell']" style="font-size: 20px" />
       </div>
     </div>
   </div>
   <div class="box welcome-box is-flex mt-4">
     <div class="media-left welcome-media-left">
       <p class="welcome-text">
         Ciao, Antonia
       </p>
       <p style="font-size: 12px; font-weight: 600;">
         pianifica insieme a noi il tuo viaggio verso una vita più attiva, sana e felice
       </p>
       <button class="button invite-btn">Prenota</button>
     </div>
     <div class="media-right welcome-media-right">
       <img class="vito" src="../../static/images/vito.png"/>
     </div>
   </div>
   <p class="strong-text mt-5">
     Le soluzioni per il tuo allenamento
   </p>
   <div class="carousel">
     <VueSlickCarousel v-bind="settings" :arrows="true">
       <exercise-card image="book.svg" title="Virtual Personal Trainer"/>
       <exercise-card image="outdoor.svg" title="Outdoor"/>
       <exercise-card image="video.svg" title="Video on Demand"/>
       <exercise-card image="video.svg" title="Schede"/>
     </VueSlickCarousel>
   </div>
   <p class="strong-text mt-5">
     Benessere per il corpo e la mente
   </p>
   <div class="columns">
     <div class="column is-half">
       <card-with-background title="Piatto Unico" subtitle="by Casa di Vita" background="piatto-diet.png"/>
     </div>
     <div class="column is-half">
       <card-with-background title="Blog" subtitle="consigli di benessere a 360" background="blog_maschera.png"/>
     </div>
   </div>
 </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import exerciseCard from "@/components/homescreen/exerciseCard";
import cardWithBackground from "@/components/homescreen/cardWithBackground";
export default {
  name: "mainContent",
  components:{
    VueSlickCarousel,
    exerciseCard,
    cardWithBackground
  },
  data() {
    return{
      settings: {
        "centerMode": true,
        "centerPadding": "20px",
        "focusOnSelect": true,
        "infinite": true,
        "slidesToShow": 3,
        "speed": 500,
        "responsive": [
          {
            "breakpoint": 1024,
            "settings": {
              "slidesToShow": 3,
              "slidesToScroll": 3,
              "infinite": true,
              "dots": true
            }
          },
          {
            "breakpoint": 600,
            "settings": {
              "slidesToShow": 2,
              "slidesToScroll": 2,
              "initialSlide": 2
            }
          },
          {
            "breakpoint": 480,
            "settings": {
              "slidesToShow": 1,
              "slidesToScroll": 1
            }
          }
        ]
      }
    }
  }
}
</script>

<style scoped>
.main-content-wrapper {
  background-color: #EFF4FB;
  width: 100%;
  padding: 25px;
}

.strong-text {
  font-weight: 900;
  color: #2F3948;
  font-size: 14px;
}

.gray-text {
  font-size: 12px;
  font-weight: 600;
  color: gray;
}

.invite-btn {
  background-color: #EA9242;
  height: 30px;
  color: white;
  font-size: 14px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.welcome-box {
  position: relative;
  height: 215px;
  max-height:215px;
}

.welcome-media-left {
  width: 27%;
}

.welcome-text {
  font-weight: 900;
  font-size: 32px;
}

.vito {
  width: 300px;
  position: absolute;
  right: 10%;
  top:-38px;
}

.slick-slider {
  width: 800px !important;
}

.slick-arrow .slick-prev {
  padding-left: 25px;
}

.carousel {
  margin-inline: 20px;
  margin-top: 10px;
}
</style>
