<template>
  <div class="is-mobile is-tablet">
    <div class="content-with-padding mb-5">
      <div class="profile-info mx-auto">
        <figure class="image">
            <img class="is-rounded avatar-image" src="../../static/images/antonia.jpg">
        </figure>
        <p class="is-center name">Antonia Corso</p>
      </div>
      <div class="is-flex is-justify-content-space-between is-align-items-center">
        <p class="strong-text">I miei obbietivi personali</p>
        <fa :icon="['fas','chevron-right']" style="font-size: 14px"/>
      </div>
      <div class="is-flex is-justify-content-space-between is-align-items-center mt-5">
        <p class="small-text">Allenamenti</p>
        <p style="color: gray;font-size: 12px"><span style="color: #2F3948">10</span>/20 VPT</p>
      </div>
      <progress class="progress is-small" value="10" max="20"/>
      <div class="is-flex is-justify-content-space-around">
        <div class="box profile-box">
          <p style="color: #04DBC3;font-size: 24px;font-weight: 600">50</p>
          <p style="font-size: 14px;color: white">Ore</p>
        </div>
        <div class="box profile-box">
          <p style="color: #04DBC3;font-size: 24px;font-weight: 600">6489</p>
          <p style="font-size: 14px;color: white">Kcal bruciate</p>
        </div>
      </div>
      <p class="strong-text mt-5">Il tuo prossimo allenamento</p>
      <div class="box calendar-box mt-3 is-flex is-align-items-center">
        <div class="box calendar-icon">
          <fa :icon="['fa','calendar']" style="font-size: 14px"/>
        </div>
        <div>
          <p style="font-size: 14px; font-weight: 600;margin-bottom: 0;">Virtual PT 30'</p>
          <p style="font-size: 14px;color: gray">Oggi | ore 17.00</p>
        </div>
      </div>
    </div>
    <div class="contact-box">
      <div class="is-flex is-flex-direction-column is-justify-content-space-between">
         <div>
           <p class="strong-text">Comunica con la tua squadra</p>
         </div>
        <div>
          <button class="button invite-btn">Apri chat</button>
        </div>
      </div>
      <div class="contact-img">
        <img src="../../static/images/immagine_chat.png"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "profile",
}
</script>

<style scoped>
 .content-with-padding {
   padding: 25px;
 }

 .avatar-image {
   width: 70px;
   height: 70px;
   margin: auto;
 }

 .name {
   text-align: center;
   font-size: 16px;
   font-weight: 900;
 }

 .profile-info {
   margin-bottom: 35px;
 }

 .strong-text {
   font-weight: 900;
   color: #2F3948;
   font-size: 14px;
 }

 .small-text {
   font-size: 12px;
   font-weight: 600;
 }

 .profile-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #2F3948;
   padding-block:10px !important;
   padding-inline: 25px !important;
   margin-bottom: 0 !important;
 }

 .calendar-box {
   background-color: #FFEBAB;
   padding: 10px 15px !important;
 }

 .calendar-icon {
   background-color: #FFD858;
   padding: 10px 15px !important;
   margin-bottom: 0;
   margin-right: 10px;
 }

 .contact-box {
   display: flex;
   border-top-left-radius: 25px;
   background-color: #EFF4FB;
   padding: 10px;
   margin-left: 25px;
 }

 .contact-img {
   width: 100%;
 }

 .invite-btn {
   background-color: #EA9242;
   height: 30px;
   color: white;
   font-size: 14px;
   border: none;
   outline: none;
 }

 progress::-moz-progress-bar { background: #04DBC3; }
 progress::-webkit-progress-value { background: #04DBC3; }
 progress { color: #04DBC3; }
</style>
