<template>
  <div class="sidebar-wrapper">
    <div class="content-wrapper is-flex is-flex-direction-column is-justify-content-space-between">
       <div class="navigation-content">
         <div style="margin-top: 35px;" class="is-flex is-justify-content-center">
           <img width="150px" height="150px" src="../../static/images/logo.png"/>
         </div>
         <ul class="navigation-links">
           <nuxt-link class="sidebar-link" exact to="/Homepage">
             <span class="icon is-medium is-left">
             <fa :icon="['fas','home']" style="font-size: 15px"/>
           </span>
             Home
           </nuxt-link>
           <nuxt-link class="sidebar-link" exact to="/Agenda">
              <span class="icon is-medium is-left">
             <fa :icon="['fas','book-open']" style="font-size: 15px"/>
           </span>
             Agenda
           </nuxt-link>
           <nuxt-link class="sidebar-link" exact to="/Telemetria">
              <span class="icon is-medium is-left">
             <fa :icon="['fas','heartbeat']" style="font-size: 15px"/>
           </span>
             Telemetria
           </nuxt-link>
           <nuxt-link class="sidebar-link" exact to="/Membership">
              <span class="icon is-medium is-left">
             <fa :icon="['fas','book']" style="font-size: 15px"/>
           </span>
             Membership
           </nuxt-link>
           <nuxt-link class="sidebar-link" exact to="/Test">
              <span class="icon is-medium is-left">
             <fa :icon="['fas','chart-bar']" style="font-size: 15px"/>
           </span>
             Test
           </nuxt-link>
           <nuxt-link class="sidebar-link" exact to="/Diet">
              <span class="icon is-medium is-left">
             <fa :icon="['fas','weight']" style="font-size: 15px"/>
           </span>
             Piato Pieno
           </nuxt-link>
         </ul>
       </div>
       <div class="navigation-content-part-2">
        <ul class="navigation-links">
          <nuxt-link class="sidebar-link" exact to="/Settings">
             <span class="icon is-medium is-left">
             <fa :icon="['fas','cog']" style="font-size: 15px"/>
           </span>
            Impostazioni
          </nuxt-link>
        </ul>
         <div class="invite">
           <p class="amici">Amici ispirati</p>
           <p class="invite-number">2</p>
           <button class="button invite-btn">
             ispira amici
           </button>
         </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "sidebar"
}
</script>

<style scoped>

 .navigation-links {
   padding-left: 35px;
   margin-top: 30px;
 }

 .sidebar-link {
   display: flex;
   align-items: center;
   font-size: 15px;
   color: #707070;
   margin-top: 7px;
   width: 100%;
 }

 .icon {
   padding-right: 15px;
 }

 .nuxt-link-exact-active {
   color: #EA9242 !important;
   border-right: 2px solid #EA9242 !important;
 }

 .invite {
   width: 150px;
   margin: 15px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   background-color: #2F3948;
   color: white;
   padding: 10px;
   font-weight: 600;
 }

 .invite-btn {
   background-color: #EA9242;
   height: 30px;
   color: white;
   font-size: 14px;
   border: none;
   outline: none;
 }

 .amici {
   font-size: 16px;
 }

 .invite-number {
   font-size: 48px;
 }

 .content-wrapper {
   height: 100%;
 }
</style>
