<template>
  <div>
    <div class="web-auth">
      <login @goToRegistration="loginPanel = $event" v-if="loginPanel"/>
      <register @goToLoginView="loginPanel = $event" v-if="!loginPanel"/>
    </div>
    <mobile-authentication/>
  </div>
</template>

<script>
import login from "@/components/auth/login";
import register from "@/components/auth/register";
import mobileAuthentication from "@/components/auth/mobileAuthentication";
export default {
name: "Authtentication",
  components: {
  login,
  register,
    mobileAuthentication
  },
  data() {
  return {
    loginPanel: true
  }
  }
}
</script>

<style scoped>
  @media (max-width: 720px) {
    .web-auth{
      display: none !important;
    }
  }
</style>
