<template>
 <div class="is-full-widescreen main-screen">
   <sidebar/>
   <main-content/>
   <profile/>
 </div>
</template>

<script>
import sidebar from "@/components/homescreen/sidebar";
import mainContent from "@/components/homescreen/mainContent";
import profile from "@/components/homescreen/profile";
export default {
name: "Homepage",
  components:{
  sidebar,
  mainContent,
    profile
  }
}
</script>

<style scoped>
  .main-screen{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100vh;
  }
</style>
