<template>
  <Authtentication/>
</template>

<script>
import Authtentication from "~/pages/Authtentication";
export default {
  components: {Authtentication}
}
</script>

<style>
body {
  margin: 0 !important;
}
</style>
