<template>
  <div>
    <div class="main-container is-flex is-align-items-center is-justify-content-center">
      <div class="auth-panel">
        <div class="columns is-gapless">
          <div class="column is-two-thirds-desktop is-three-quarters-tablet">
            <div class="login-details">
              <h1 class="title">Bentornato</h1>
              <div class="has-text-centered mt-5">
                <label class="gray-text">Mail</label>
                <input v-model="loginEmail" class="control input members-input" type="text">
              </div>
              <div class="mt-5 has-text-centered">
                <label class="gray-text">Password</label>
                <input v-model="loginPassword" class="control input members-input" type="password">
              </div>
              <small class="gray-text forgot-link">Password Dimenticata?</small>
              <div class="is-flex">
                <label class="checkbox remember mt-5">
                  <input class="remember-input" type="checkbox">
                  <span>Ricordami</span>
                </label>
              </div>
              <button @click="userLogin" class="button login-button mt-5">Entra</button>
              <div class="socials">
                <img class="img-icons" src="../../static/images/facebook-f.svg"/>
                <img class="img-icons" src="../../static/images/facebook-f.svg"/>
                <img class="img-icons" src="../../static/images/facebook-f.svg"/>
              </div>
            </div>
          </div>
          <div class="column register-panel has-text-centered">
            <div style="padding: 15px;position: relative ; height: 100%">
              <p class="title title-register">Prima Volta?</p>
              <p style="font-size: 14px; line-height: 1.2">Registrati e godi a 360&deg; il mondo Members</p>
              <button @click="goToRegisterView" class="button button-register mt-5">Registrati</button>
              <img src="../../static/images/vito.png" class="register-image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      loginEmail: '',
      loginPassword: '',
    }
  },
  methods: {

    goToRegisterView() {
       this.$emit('goToRegistration', false)
    },

    userLogin(){
      this.$auth.loginWith('local', {
        data: {
          email: this.loginEmail,
          password: this.loginPassword
        }
      })
    }
  }
}
</script>

<style>
 .main-container {
   height: 100vh;
   background: url("../../static/images/background_permit_gym.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   padding:0 !important;
   margin: 0 !important;
   overflow:hidden;
 }

 .auth-panel {
   width:100%;
   max-width:650px;
   min-width:320px;
   height:auto;
 }

 .login-details {
   background: white;
   padding-inline: 15px;
   padding-block: 15px;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .members-input {
   border-width: 0 0 1px 0 !important;
   box-shadow: none !important;
   border-radius: 0 !important;
   outline: none;
   height:20px !important;
 }

 .members-input:focus{
   outline: none !important;
   box-shadow: none !important;
 }

 .gray-text {
   color: lightgray;
   font-size:14px
 }

 .login-button {
   height:30px !important;
   border-radius: 50px;
   width: 80%;
   margin-top:10px;
   background-color: #EA9242;
   color: white;
   border-color:#EA9242;
   outline: none;
   box-shadow: none;
 }

 .login-button:hover {
   color : white;
   outline: none;
   box-shadow: none;
   border-color: #EA9242;
 }

 .remember {
   color: lightgray;
   font-size: 12px !important;
 }

 .remember-input {
   vertical-align: middle !important;
   border: 1px solid black !important;
   height: 13px;
   width: 13px;
   border-radius: 4px;
 }

 .register-panel {
   background-color: rgba(59, 67, 80,0.7);
   color: white;
   position: relative;
 }

 .title-register {
   color: white;
   font-size: 20px;
 }

 .button-register {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    height: 30px;
    width: 75%;
    border-radius: 15px;
    font-weight: 600;
 }

 .button-register:hover {
   color: white;
 }

 .register-image {
   position: absolute;
   bottom: 0;
   left: 50%;
   right: 50%;
   transform: translate(-50%);
 }

 .socials {
   margin-top: 30px !important;
   display: flex !important;
   flex-direction: row;
   justify-content: center !important;
 }

 .img-icons {
   width: 25px;
   height: 25px;
   color: white;
   filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
 }

 .img-icons:not(:first-child) {
   margin-left: 20px;
 }

 .forgot-link:hover {
   cursor: pointer;
   text-decoration: underline;
 }

 /*MOBILE STYLING*/

 .main-container-mobile {
   display: none;
   background: url("../../static/images/background_permit_gym.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   box-shadow:inset 0 0 0 2000px rgba(59, 67, 80,0.7);
   color: white;
   height: 400px;
 }

 .mobile-auth-title {
   font-size: 26px;
   font-weight: 600;
 }

 .mobile-logo {
   padding-left: 30px;
 }

 .mobile-title-wrapper {
   margin-block: 15px;
   padding-left: 40px;
   padding-right: 120px;
   letter-spacing: 2px;
 }

 .text-wrapper{
   width: 75%;
   margin: 20px auto;
 }

 .mobile-auth-options{
   color: black;
   background: white;
   border-top-right-radius: 25px;
   padding-bottom: 15px;
 }

 .mobile-title-auth-option {
   font-size:20px;
   font-weight:600;
   line-height: 1.2;
   padding-right: 75px;
   margin-bottom: 0 !important;
   padding-top: 25px;
 }

 .login-mobile-button {
   width:75%;
   background: #EA9242;
   border:none !important;
   box-shadow: none !important;
   outline: none !important;
   margin-block: 5px;
   border-radius:25px;
   color: white;
   font-weight: 600;
   font-size:18px;
 }

 .register-mobile-button {
   width:75%;
   background: white;
   border:2px solid #EA9242 !important;
   box-shadow: none !important;
   outline: none !important;
   border-radius:25px;
   color: #EA9242 !important;
   font-weight: 600;
   font-size:18px;
 }


 /*RESPONSIVE STYLING*/

 @media(max-width: 769px) {
   .main-container {
     display: none !important;
   }

   .main-container-mobile {
     display: flex;
     flex-direction: column;
   }
 }

 @media(min-width: 541px) and (max-width: 769px) {
   .mobile-auth-options {
     height: 100%;
   }
 }
</style>
