<template>
  <div>
    <div class="mobile-login-view">
       <span class="icon is-medium is-left">
        <fa :icon="['fas','arrow-left']" style="color: white;font-size: 24px" @click="goBackToMobileAuth"/>
      </span>
      <div class="mt-5">
        <h3 style="color:white;font-weight: 600;font-size: 32px;">Bentornato!</h3>
        <p style="color:white;font-weight: 600;font-size: 20px; padding-right:70px;line-height: 1">Continua la tua
          avventura.</p>
      </div>
    </div>
    <div class="is-flex is-flex-direction-column is-align-items-center">
      <div class="has-text-centered mt-5">
        <label class="gray-text">Mail</label>
        <input v-model="loginEmail" class="control input members-input" type="text">
      </div>
      <div class="mt-5 has-text-centered">
        <label class="gray-text">Password</label>
        <input v-model="loginPassword" class="control input members-input" type="password">
      </div>
      <div class="is-flex is-justify-content-center">
        <label class="checkbox remember mt-5">
          <input class="remember-input" type="checkbox">
          <span>Ricordami</span>
        </label>
      </div>
      <button class="button login-button mt-5 mx-auto" @click="userLogin">Entra</button>
      <small class="gray-text forgot-link" style="text-align: center">Password Dimenticata?</small>
    </div>
  </div>
</template>

<script>
export default {
  name: "mobileLogin",
  data() {
    return {
      loginEmail: '',
      loginPassword: ''
    }
  },
  methods: {
    goBackToMobileAuth() {
      this.$emit('goBack', false)
    }
  }
}
</script>

<style>
.mobile-login-view {
  background: url("../../static/images/background_permit_gym.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(59, 67, 80, 0.7);
  height: 180px;
  border-bottom-left-radius: 25px;
  padding-left: 30px;
  padding-block: 15px;
  position: relative;
}
</style>
