<template>
  <div>
    <div style="height: 290px !important;" class="mobile-login-view">
       <span v-if="!registrationSecondStep" class="icon is-medium is-left">
        <fa :icon="['fas','arrow-left']" style="color: white;font-size: 24px" @click="goBackfromRegistration"/>
      </span>
      <span v-else class="icon is-medium is-left">
        <fa :icon="['fas','arrow-left']" style="color: white;font-size: 24px" @click="goBackToFirstStep"/>
      </span>
      <div>
        <h3 style="color:white;font-weight: 600;font-size: 32px;">Prima Volta?</h3>
        <p style="color:white;font-weight: 600;font-size: 20px; padding-right:70px;line-height: 1">Crea il tuo account e godi  </p>
      </div>
      <img class="register-vito-image" src="../../static/images/vito.png"/>
    </div>
    <div v-if="!registrationSecondStep" class="is-flex is-flex-direction-column is-align-items-center">
      <div class="has-text-centered mt-5">
        <label class="gray-text">Mail</label>
        <input v-model="registerEmail" class="control input members-input" type="text">
      </div>
      <button class="button login-button mt-5 mx-auto" @click="continueRegistration">Registrati</button>
    </div>
    <div v-else class="is-flex is-flex-direction-column is-align-items-center">
      <div style="width: 70%" class="has-text-centered mt-3">
        <p class="gray-text">Password</p>
        <input v-model="registerPassword" class="control input members-input" type="password">
      </div>
      <div style="width: 70%" class="has-text-centered">
        <p class="gray-text">Conferma Password</p>
        <input v-model="confirmedPassword" class="control input members-input" type="password">
      </div>
      <button v-if="!registrationSecondStep" class="button login-button my-3 mx-auto" @click="continueRegistration">Registrati</button>
      <button v-else class="button login-button my-3 mx-auto" @click="continueRegistration">Registrati</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "mobileRegister",
  data() {
    return {
      registerEmail: '',
      registerPassword: '',
      confirmedPassword: '',
      registrationSecondStep: false
    }
  },
  methods: {
    goBackfromRegistration() {
      this.$emit('goBack',false)
    },
    continueRegistration() {
       this.registrationSecondStep = true
    },
    goBackToFirstStep() {
      this.registrationSecondStep = false
    }
  }
}
</script>

<style scoped>
 .register-vito-image {
   width: 200px;
   position: absolute;
   bottom:0;
   right:0;
 }
</style>
