<template>
  <div>
    <div v-if="initialView" class="main-container-mobile is-mobile container">
      <div class="mobile-logo">
        <img width="120px" src="../../static/images/logo.png"/>
      </div>
      <div class="mobile-title-wrapper">
        <p class="mobile-auth-title">
          Migliori solo ciò che missuri
        </p>
      </div>
      <div class="mobile-auth-options">
        <div class="text-wrapper">
          <p class="mobile-title-auth-option">Il mondo Show ad un solo click</p>
        </div>
        <div class="is-flex is-flex-direction-column is-align-items-center">
          <button @click="openMobileLoginView" class="button login-mobile-button">Entra</button>
          <button @click="openMobileRegisterView" class="button register-mobile-button">Registrati</button>
        </div>
        <div class="socials">
          <img class="img-icons" src="../../static/images/facebook-f.svg"/>
          <img class="img-icons" src="../../static/images/facebook-f.svg"/>
          <img class="img-icons" src="../../static/images/facebook-f.svg"/>
        </div>
      </div>
    </div>
    <mobile-login @goBack="isMobileLoginPressed = $event ; initialView = true" v-if="isMobileLoginPressed"/>
    <mobile-register @goBack="isMobileRegisterPressed = $event; initialView = true" v-if="isMobileRegisterPressed"/>
  </div>
</template>

<script>
import mobileLogin from "@/components/auth/mobileLogin";
import mobileRegister from "@/components/auth/mobileRegister";
  export default {
     name: 'mobileAuthentication',
    components: {mobileRegister,mobileLogin},
     data(){
       return{
         isMobileLoginPressed: false,
         isMobileRegisterPressed: false,
         initialView: true
       }
     },
    methods: {
       openMobileLoginView() {
         this.isMobileLoginPressed = true
         this.initialView = false
       },

      openMobileRegisterView() {
        this.isMobileRegisterPressed = true
        this.initialView = false
      }
    }
  }
</script>

<style>

 @media(max-width:720px) {
   .main-container-mobile {
     display: inline-block;
   }
 }
</style>
