<template>
  <div class="main-container is-flex is-align-items-center is-justify-content-center">
    <div class="auth-panel">
      <div class="columns is-gapless">
        <div class="column register-panel has-text-centered">
          <div style="padding: 15px;position: relative ; height: 100%">
            <p class="title title-register" style="padding-inline: 40px">Sei già uno di noi?</p>
            <p style="font-size: 14px; line-height: 1.2">Sei hai già attivato il tuo account non ti resta che entrare.
              Ci sei mancato!</p>
            <button class="button button-register mt-5" @click="goToLoginPage">Entra</button>
            <img class="register-image" src="../../static/images/vito-revert.png"/>
          </div>
        </div>
        <div class="column is-two-thirds-desktop is-three-quarters-tablet">
          <div class="login-details">
            <h5 class="title register-title has-text-centered">È il momento di ottenere il massimo!</h5>
            <div class="has-text-centered mt-5">
              <label class="gray-text">Mail</label>
              <input v-model="email" class="input members-input" type="text">
            </div>
            <div class="mt-5 has-text-centered">
              <label class="gray-text">Password</label>
              <div class="control has-icons-right">
                <input v-model="password" class="input members-input" type="email">
                <span class="icon is-small is-right">
                    <fa :icon="['fas','eye']" />
                </span>
              </div>
            </div>
            <div class="mt-5 has-text-centered">
              <label class="gray-text">Conferma Password</label>
              <div class="control has-icons-right">
                <input v-model="confirmPassword" class="input members-input" type="email">
                <span class="icon is-small is-right">
                    <fa :icon="['fas','eye']" />
                </span>
              </div>
            </div>
            <button class="button login-button mt-5">Registrati</button>
            <div class="socials">
              <img class="img-icons" src="../../static/images/facebook-f.svg"/>
              <img class="img-icons" src="../../static/images/facebook-f.svg"/>
              <img class="img-icons" src="../../static/images/facebook-f.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "register",
  data() {
    return {
      email:'',
      password: '',
      confirmPassword: ''
    }
  },
  methods: {
    goToLoginPage() {
      this.$emit('goToLoginView', true)
    }
  }
}
</script>

<style scoped>
 .icon {
   top:-13px !important;
 }

 .register-title {
   font-size: 24px;
   padding-inline: 90px;
   margin-bottom:0;
 }


</style>
